html {
    height: 99%;
}

#header {
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding-bottom: 10px;
}
#header * {
    margin: 0;
}
#footer {
    width: 95%;
    position: absolute;
    bottom: 0;
}
#messages {
    width: 25%;
    min-width: 500px;
    margin: auto;
}
#form_message {
    width: 25%;
    min-width: 500px;
    margin: auto;
}
#blockus_score {
    font-family: 'Courier New', Courier, monospace;
    display: block;
}
#blockus_score, #blockus_game {
    border: 1px solid black;
}
#current_boss_div {
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#current_boss_div img {
    position: relative;
}
#idle_container {
    height: calc(100% - 150px);
}
#idle_container > * {
    vertical-align: top;
}
#resources_table {
    height: 100%;
}
#boss_div, #damage_table, #damage_table > tr, #current_boss_div, .building, #resources_table {
    width: 200px;
}
#boss_div, #damage_table, #current_boss_div, .building, #buildings_div, #prestige_div {
    height: 200px;
}
#boss_div, #damage_table, #damage_table > tr, .building, #resources_table, #prestige_div {
    display: inline-block;
}
#buildings_div, #upgrades_div {
    max-width: 100%;
}
#upgrades_div {
    height: 100px;
}
#idle_tooltip {
    border: solid 5px antiquewhite;
    background-color: black;
    color: white;
    padding: 5px;
    min-width: 200px;
}
#boss_div {
    vertical-align: top;
}
#prestige_div {
    vertical-align: top;
    width: calc(100% - 410px);
}

.text-align-left {
    text-align: left;
}
.text-align-center {
    text-align: center;
}
.text-align-right {
    text-align: right;
}
.error {
    color: red;
}
.list-no-decoration {
    list-style-type: none;
}
.bound-right {
    position: relative;
    right: 1.5%;
}
.popup {
    position: absolute;
    animation: popup 1.5s linear, rainbow-text 250ms linear infinite;
    font-family: 'Courier New', Courier, monospace;
}
.progress-bar {
    background-color: lime;
    height: 100%;
}
.progress-bar-background {
    background-color: darkred;
    height: 15px;
    width: 100%;
}
.display-inline-block {
    display: inline-block;
}
.upgrade {
    height: 100px;
    width: 100px;
    display: inline-block;
}
.cant-afford {
    color: red;
}
.building {
    white-space: nowrap;
}

@keyframes popup {
    from {margin-top: 0}
    to {margin-top: -30px}
}
@keyframes rainbow-text {
    0%   {color: #f00}
    16%  {color: #ff0}
    33%  {color: #0f0}
    50%  {color: #0ff}
    67%  {color: #00f}
    83%  {color: #f0f}
    100% {color: #f00}
}
