html, body {
    height: 99%;
}

#header {
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding-bottom: 10px;
}
#header * {
    margin: 0;
}
#footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}
#messages {
    width: 25%;
    min-width: 500px;
    margin: auto;
}
#form_message {
    width: 25%;
    min-width: 500px;
    margin: auto;
}
#blockus_score {
    font-family: 'Courier New', Courier, monospace;
    display: block;
}
#blockus_score, #blockus_game {
    border: 1px solid black;
}

.text-align-left {
    text-align: left;
}
.text-align-center {
    text-align: center;
}
.text-align-right {
    text-align: right;
}
.error {
    color: red;
}
.list-no-decoration {
    list-style-type: none;
}
.bound-right {
    position: relative;
    right: 1.5%;
}
.popup {
    position: absolute;
    animation: popup 1.5s linear, rainbow-text 250ms linear infinite;
    font-family: 'Courier New', Courier, monospace;
}

@keyframes popup {
    from {margin-top: 0}
    to {margin-top: -30px}
}
@keyframes rainbow-text {
    0% {color: #f00}
    16% {color: #ff0}
    33% {color: #0f0}
    50% {color: #0ff}
    67% {color: #00f}
    83% {color: #f0f}
    100% {color: #f00}
}
