{% include 'header.html' %}
	<h2>{{ group['name'] }}</h2>
    <div><a href="{{ url_for('chat.group_list') }}">{{ gettext('group_list') }}</a></div>
    <div><a href="{{ url_for('chat.group_leave', group_id=group['id']) }}">{{ gettext('group_leave') }}</a></div>
    <div><a href="{{ url_for('chat.group_invite', group_id=group['id']) }}">{{ gettext('group_invite') }}</a></div>
    <div id="users" class="bound-right text-align-right" style="top: -75px;">
        {% for user in users %}
        {{ user['username'] }}<br />
        {% endfor %}
    </div>
    <form method="POST" id="form_message" class="text-align-center"
        enctype="multipart/form-data" action="{{ url_for('chat.message_create', group_id=group['id']) }}">
        <textarea name="text"></textarea><br />
        <input type="file" name="files" multiple><br />
        <input type="submit" value="{{ gettext('chat_send_message') }}" />
    </form>
    <div id="messages"></div>
    <script>
        let user_id = +'{{ user_id }}';
        let group_id = +"{{ group['id'] }}";
    </script>
    <script src="{{ url_for('static', filename='js/group_view.js') }}"></script>
{% include 'footer.html' %}
