{% include 'header.html' %}
<div><span id="blockus_score">0</span></div>
<div><canvas id="blockus_game"></canvas></div>
<br>
<div>
    <button id="select_options">{{ gettext('blockus_game_options') }}</button>
    <button id="select_keybinds">{{ gettext('blockus_game_keybinds') }}</button>
</div>
<div style="padding-bottom: 50px"><table id="options"></table></div>
<!--<script src="{{ url_for('games.blockus_js') }}"></script>-->
<script src="{{ url_for('static', filename='js/blockus.js') }}"></script>
{% include 'footer.html' %}
